.container__box__galeria {
    background-image: url('../../Assets/galeria/bg8.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: min-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 800;
    
}

.container__box__galeria2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 25px;
    margin: 10px 0 50px;
    
}



.image {
   width: 80vw;
   height: 40vh;
   overflow: hidden;
   border-radius: 7px;
}