.container__general--85vh {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-img {
    width: 100vw;
    height: 40vh;
    background-image: url('../../Assets/mision\ 2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 3em;
    filter: grayscale(30%);
    box-shadow: 10px 14px 400px -89px rgba(0,0,0,0.96) inset;
    -webkit-box-shadow: 10px 14px 400px -89px rgba(0,0,0,0.96) inset;
    -moz-box-shadow: 10px 14px 400px -89px rgba(0,0,0,0.96) inset;
}

.proyects {
    width: 100vw;
    height: 50vh;
}

.flex {
    display: flex;
}