.container__footer {
    background-image: url('../../Assets/ecologista.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: inline-block;
    text-align: center;
    width: 100vw;
    height: min-content;
    backdrop-filter: grayscale(60%);
}

.box__footer__unorde__links {
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0;
    gap: 10px;
}

.box__follow-text {
    font-size: 1.85em;
    margin-top: 0px;
    padding-top: 20px;
    font-weight: 600;
    color: #000000;
}

.box__red-social {
    margin: 5px 10px 10px;
}

.box__links {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: auto;
    color: #000000;
    font-weight: 600;
    font-size: 1.2em;
}

.box__links--link:hover {
    color: #ffffff;
    transition: color, 0.5s;
}

.box__links--titles {
    font-size: 1.5em;
}

.conteiner__box--contact {
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin-bottom: 15px;
}

.box--contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box--email-wp {
    width: 50px;
    margin-bottom: 5px;
}

.footer--filter {
    backdrop-filter: grayscale(60%)
}