.hero-img {
    width: 100vw;
    height: 40vh;
    background-image: url('../../Assets/WhatsApp\ Image\ 2022-07-16\ at\ 7.47.39\ PM.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 3em;
}

.box__index--title {
    color: rgb(61, 61, 61);
}

.box__logo--aso {
    width: 50%;
    margin: auto;   
}

.box__index--info-Company {
    padding: 20px 25px 25px;
    color: rgb(51, 52, 52);
}

.link--info {
    text-decoration: none;
    border: 1px solid rgb(14, 14, 14);
    border-width: 2px;
    background-color: rgb(249, 249, 249);
    width: max-content;
    padding: 5px;
    margin: auto;
    font-weight: 700;
}

.box__proyects-and-notice {
    border-bottom: 1px solid rgb(82, 82, 82);
    background-color: rgb(227 224 224);
    margin-bottom: 20px;
    overflow-y: auto;
    height: max-content;
    padding: 20px 30px;
}

.box__slider {
    align-items: center;
}

.slider-lft {
    padding: 25px 25px 25px 0px;
    position: absolute;
    background-color: transparent;
    border: none;
}

.slider-rgt {
    padding: 25px 0px 25px 25px;
    position: absolute;
    right: 0px;
    background-color: transparent;
    border: none;
}

.box__index--proyects-notice--title {
    font-size: 1.5em;
}

.box__proyects-and-notice--links, .box__proyects-and-notice--links:visited {
    color: rgb(73, 73, 73);
    border: 2px solid rgb(58, 58, 58);
    padding: 5px;
}

.box__proyects-and-notice--links:hover {
    background-color: rgb(243, 243, 243);
    border-color: black;
    color: rgb(15, 15, 15);
    font-weight: 600;
}

.proyects {
    width: 90%;
    height: 40vh;
}

.charge {
    margin: auto;
}

.notice--description {
    overflow-y: auto;
    height: 100px;
}