
/*Mobile*/

.container__nav {
    height: 12vh;
    background-color: #3fef96;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav--logo {
    height: 98%;
}

.nav--menu-Burger {
    position: absolute;
    height: 5vh;
    right: 15px;
    cursor: pointer;
}

.nav--menu {
    position: absolute;
    top: 11.8vh;
    width: 100vw;
    background-color: rgb(132, 238, 146);
    color: rgb(5, 5, 5);
    padding-inline-start: 0px;
    margin: 0;
    list-style: none;
    text-align: center;
    clip-path: inset(0 0 0 100%);
    z-index: 99;
    opacity: 0;
    display: flex;
    transition: clip-path 0.8s, opacity 0.5s;
    flex-direction: column;
}

a:visited {
    color: rgb(0, 0, 0);
}

.nav__list {
    margin: 10px 0;
}

.nav__list--link {
    text-decoration: none;
}

.nav__list--link:hover {
    background-color: rgba(196, 196, 196, 0.349);
    padding: 2px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 50px -5px white;
}