
.container__nav {
    height: 12vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav--logo {
    height: 94%;
    display: flex;
}

.nav--menu-Burger {
    position: absolute;
    height: 5vh;
    right: 15px;
    cursor: pointer;
}

.nav--menu {
    position: absolute;
    top: 11.8vh;
    width: 100vw;
    background-color: #406525;
    color: rgb(5, 5, 5);
    padding-inline-start: 0px;
    margin: 0;
    list-style: none;
    text-align: center;
    clip-path: inset(0 0 0 100%);
    z-index: 99;
    opacity: 0;
    display: flex;
    transition: clip-path 0.4s, opacity 0.4s;
    flex-direction: column;
}

.nav__list {
    padding: 10px 0;
    border-bottom: 1px solid #36561f
}

.nav__list--link {
    text-decoration: none;
    
}

.nav__list--link:active {
    text-decoration: none;
}

.nav__list:hover,.nav__list:active  {
    background-color: #36561f;
    transition: background-color 0.5s;
}